/* root elements */
:root {
  /* here comes any root elements */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  width: 100%;
  height: 8rem;
  background: #000411;
  color: #fff;
}

.navbar--wrapper {
  color: #fff;
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.container {
  margin: 1rem 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.css--check {
  width: 20%;
  height: 4rem;
  background: #fff;
  border: 0.5px solid rgb(199, 199, 199);
  border-radius: 5px;

  transition-property: width, color, background;
  transition-duration: 0.5s;
}

.css--check:hover {
  width: 40%;
  background: blue;
  color: #fff;
}

.js--check {
  width: 5rem;
  border: none;
  width: 20%;

  padding: 10px 15px;
}
