.navbar {
  width: 100%;
  height: 8rem;
  background: #000411;
  color: #fff;
}

.navbar--wrapper {
  color: #fff;
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
