<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--css assets-->
    {% assets 'css_all' %}
    <link rel="stylesheet" href="{{ASSET_URL}}" />
    {% endassets %}

    <!--fontawesome icons-->
    {{fontawesome_html()}}
    <title>Change this part</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar--wrapper">
        <div class="logo">Home</div>
      </div>
    </nav>
    {% block body %} {% endblock %}

    <!--Javascript assets-->
    {% assets 'js_all' %}
    <script type="text/javascript" src="{{ASSET_URL}}"></script>
    {% endassets %}
  </body>
</html>
