{% extends 'base.html' %} {% block body %}
<div class="container">
  <h1>
    Welcome to the flask boiler plate app
  </h1>
  <br /><br />
  <button id="jsCheck" class="js--check">click for js chek</button>

  <br />
  <br />
  <button class="css--check">Hover for css check</button>
</div>
{% endblock %}
